:root{
    --bl-nav: #FF6900;
    --bl-primary-light: #fff;
    --bl-primary-dark: #000;
    --bl-discount-tag: #FF0000;
    --bl-main-tag: #008000;
    --bl-footer-bg: #1a1a1a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    position: fixed;
    top: 0;
    background-color: var(--bl-nav);
    color: var(--bl-primary-light);
    width: 100%;
    padding: 1rem 0;
    z-index: 15;
    .categories{
        display: flex;
        gap: .5rem;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: var(--bl-primary-light);
        
    }
    .nav-container{
        max-width: 70%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        font-weight: 600;
    }
}

.logo img{
    max-height: 1.7rem;
}
.nav-icon{
    display: flex;
    gap: .3rem;
    align-items: center;
}

.main-wrapper{
    padding: 3rem 0;
    max-width: 70%;
    margin: auto;
    margin-top: 3rem;
    .row-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        

    }
}
.card{
    width: 32.5%;
    max-width: 310px;
    position: relative;
    img{
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .hover-img{
        display: none;
        
    }
    .brand{
        display: block;
        margin-top: 450px;
    }
}
.card-icon{
    background-color: var(--bl-primary-light);
    color: var(--bl-primary-dark);
    text-align: center;
    padding: .4rem 0.8rem;
    position: absolute;
    top: 0.5rem;
    right: 0;
    span{
        font-size: 1.6rem;
    }
   
}
.tags{
    display: flex;
    gap: .4rem;
    color: var(--bl-primary-light);
    position: absolute;
    left: 0;
    top: 25rem;
    font-weight: 600;
   
}
 
.discount-tag{
    background-color: var(--bl-discount-tag);
    padding: .2rem .4rem;
    font-size: .8rem;
}
.main-tag{
    background-color: var(--bl-main-tag);
    padding: .2rem .4rem;
    font-size: .8rem;

}
.brand{
    font-size: .7rem;
    font-weight: 400;
}
.product{
    font-size: .9rem;
    font-weight: 550;
    
}
.price{
    font-size: .8rem;
    display: block;
    .old-price{
        text-decoration:line-through;
    }
    strong{
        color: var(--bl-discount-tag);
        text-decoration: none;
    }
}
footer{
    background-color: var(--bl-footer-bg);
    padding: 1.5rem 0;
    span{
        display: block;
        color: var(--bl-primary-light);
        margin-bottom: .6rem;
        font-weight: 600;
    }
    a{
        text-decoration: none;
        color: var(--bl-primary-light);
        margin-right: .4rem;
        font-size: .8rem;
    }
}
.w-70{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer-icon{
    i{
        color: var(--bl-primary-light);
        margin-right: .3rem;
    }
    span{
        font-size: .9rem;
    }
        
}